@import "tailwindcss";

.custom-scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html, body {
  background: #000 !important;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
