@import "tailwindcss";

.custom-scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
